<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>
<!------ Include the above in your HEAD tag ---------->
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  
  <body id="LoginForm">
    <div class="container">
      <h1 class="form-heading">Login Form
      </h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Login
            </h2>
            <p>Please enter your email and password
            </p>
          </div>
          <div *ngIf="isLoginError" class= "red-text center error-message">
            <i class="material-icons">error</i>Incorrect email or password
          </div>
          <form id="login" #loginForm="ngForm" name="login"(submit) = "login($event)">
            <div class="form-group">
              <input type="text" name= "email" [(ngModel)]="user.email" class="form-control"  required email id="email" placeholder="Email" #email="ngModel">
              <div *ngIf ="email.invalid && email.touched" class="alert alert-danger">
              Email is invalid!
              </div>
           </div>
           <div class="form-group">
            <input type="password" name= "password" [(ngModel)]="user.password" class="form-control" required id="password" placeholder="Password" #password="ngModel">
         </div>
            <div class="forgot">
              <a href="reset.html">Forgot password?
              </a>
            </div>
            <button type="submit" class="btn btn-primary">Login
            </button>
          </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <p class="botto-text"> TubeKids
        </p>
      </div>
    </div>
  </body>
</html>
