
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>
<!------ Include the above in your HEAD tag ---------->
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  
  <body id="RegisterForm">
    <div class="container">
      <h1 class="form-heading">Register Form
      </h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Register
            </h2>
            <p>Complete all the information
            </p>
          </div>
          <form id="Register" name="Register"(submit) = "addUser($event)">
            <div class="form-group"
            [class.has.error]="fn.invalid && fn.touched"
            [class.has.success]="fn.valid">
              
              <input type="text" name= "firstName" [(ngModel)]="firstName" required id="firstName" placeholder="First Name" class="form-control" #fn="ngModel" >
              <span class = "help-block"
              *ngIf="fn.invalid && fn.touched">
              Required
            </span>
              
              
              
            </div>
            <!--<div class="form-group">
              <input type="text" name= "firstName" [(ngModel)]="firstName" required minlength="5" maxlength="30" placeholder="First Name" class="form-control" #name="ngModel" >
            </div>-->

            <div class="form-group">
                <input type="text" name= "surnames" [(ngModel)]="surnames" class="form-control" id="inputSurnames" placeholder="Surnames">
            </div>
          
            <div class="form-group">
                <input type="text" name= "email" [(ngModel)]="email" class="form-control" id="inputEmail" placeholder="Email Address">
              </div>

              <div class="form-group">
                  <input type="password" name= "password" [(ngModel)]="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>

            <div class="form-group">
              <input type="password" name= "repeatPassword" [(ngModel)]="repeatPassword" class="form-control" id="inputRepeat-password" placeholder="Repeat-password">
            </div>

            <div class="form-group">
                <input type="text" name= "country" [(ngModel)]="country" class="form-control" id="inputCountry" placeholder="Country">
            </div>

            <div class="form-group">
                    <input id="date" name= "date" [(ngModel)]="date" type="date">
              </div>

            <button type="submit" class="btn btn-primary">Login
            </button>
          </form>
        </div>
       
        <p class="botto-text"> TubeKids
        </p>
      </div>
    </div>
  </body>
  
</html>
