

<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  
  <body id="home">
    <div class="container">
      <h1 class="form-heading">TubeKids
      </h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>TubeKids
            </h2>
            <p>Plataforma Web para padres que les permite seleccionar videos de YouTube a sus hij@s creando una lista personalizada para estos.
            </p>
          </div>
         
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <p class="botto-text"> TubeKids
        </p>
      </div>
    </div>
  </body>
</html>