

<html>
    <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
      </script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
      </script>
      <script src="jquery-3.3.1.min.js"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
<script src="angular-youtube-embed.js"></script>
      <!------ Include the above in your HEAD tag ---------->
    </head>
    
    
  
  <div class="mn-top">
    <h3>MY PLAYLIST </h3>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalP">ADD PLAYLIST</button>
  <br>
  <br>
  <label>Select Playlist</label>
  <br>
  
  <select >
    <option *ngFor="let playlist of playlists" [value]="playlist._id">
      {{playlist.name}}</option>
  </select> 
  <br>
  <br>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">ADD NEW VIDEO</button>
  <br>
  <br>
  <button type="button" class="btn btn-success Small" data-toggle="modal" data-target="#myEdit" >EDIT</button>
    <br>
    <br>
    <button type="button" class="btn btn-danger Small" data-toggle="modal" data-target="#myDelete" >DELETE</button>
    <br>
    <br>
  <INPUT type=submit  id="x" name=btnG VALUE="FIND VIDEO" />
  <INPUT TYPE=text id="s" name="q" value="" size="50" />
  







  <div id="myModalP" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">CANCEL</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <h1 class="form-heading">PLAYLIST FORM
            </h1>
            <div class="login-form">
              <div class="main-div">
                <div class="panel">
                  <h2>REGISTER
                  </h2>
                  <p>Please enter all the information
                  </p>
                </div>
                <form id="register" #registerFormP="ngForm" name="Register"(submit) = "addPlaylist($event)">
                  <div class="form-group">
                    <input type="text" name= "playlist" [(ngModel)]="playlist.name" required  id="name" placeholder="Playlist name" class="form-control" #playlistName="ngModel" >
                    <div *ngIf ="playlistName.errors && (playlistName.dirty || playlistName.touched)" class="alert alert-danger">
                       <div [hidden]="!playlistName.errors.required">
                          Playlist name is required!
                       </div>
                       
                    </div>
                 </div>
                 <div class="form-group">
                  <input type="text" name= "playlist" [(ngModel)]="playlist.description" required  id="description" placeholder="Playlist description" class="form-control" #playlistDescription="ngModel" >
                  <div *ngIf ="playlistDescription.errors && (playlistDescription.dirty || playlistDescription.touched)" class="alert alert-danger">
                     <div [hidden]="!playlistDescription.errors.required">
                        Playlist description is required!
                     </div>
                     
                  </div>
               </div>

                 
                  
                  <button type="submit" [disabled]="!registerFormP.form.valid" class="btn btn-primary">ADD
                  </button>
                </form>
              </div> 
              <p class="botto-text"> TubeKids
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>














  <div id="myDelete" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">CANCEL</h4>
          </div>
          <div class="modal-body">
            <div class="container">
              
              <div class="profile-form">
                <div class="main-div">
                  <div class="panel">
                    <h2>DELETE VIDEO
                    </h2>
                    
                  </div>
                  <form id="delete" #registerFormD="ngForm" name="delete"(submit) = "deleteVideo($event)">
                    <div>
                        <div class="form-group">
                            <select [(ngModel)]="video._id" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let video of videos" [value]="video._id">
                                {{video.name}}</option>
                            </select>
                            </div>
                    </div>

                    <button type="submit" [disabled]="!registerFormD.form.valid" class="btn btn-primary" >DELETE</button>
                  </form>
                </div> 
                <p class="botto-text"> TubeKids
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>




  
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">CANCEL</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <h1 class="form-heading">VIDEO FORM
            </h1>
            <div class="login-form">
              <div class="main-div">
                <div class="panel">
                  <h2>REGISTER
                  </h2>
                  <p>Please enter all the information
                  </p>
                </div>
                <form id="register" #registerForm="ngForm" name="Register"(submit) = "addVideo($event)">
                    <div>
                        <div class="form-group">
                      <select [(ngModel)]="video.playlist" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let playlist of playlists" [value]="playlist._id">
                          {{playlist.name}}</option>
                      </select>
                      </div>
    

                      
                      
                     </div>
                  <div class="form-group">
                    <input type="text" name= "videoName" [(ngModel)]="video.name" required  id="videoName" placeholder="Video name" class="form-control" #videoNameR="ngModel" >
                    <div *ngIf ="videoNameR.errors && (videoNameR.dirty || videoNameR.touched)" class="alert alert-danger">
                       <div [hidden]="!videoNameR.errors.required">
                          Video name is required!
                       </div>
                       
                    </div>
                 </div>
                 
                 <div class="form-group">
                  <input type="url" name="input" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" [(ngModel)]="video.url_youtube" required #urlR="ngModel">
                  <div *ngIf ="urlR.errors && (urlR.dirty || urlR.touched)" class="alert alert-danger">
                    <div [hidden]="!urlR.errors.required">
                       Url is required!
                    </div>
                    
                 </div>
                </div>
                  
                  <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary">ADD
                  </button>
                </form>
              </div> 
              <p class="botto-text"> TubeKids
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  </div>
  

  <div class="col-md-4 fl" *ngFor="let video of videos">
      <div class="mn-top" >
          <button type="button" class="btn btn-success" >ADD TO MY PLAYLIST</button>
          <h3>{{video.name}}</h3>
          
          
      </div>
      <div class="card profile-card-1">
    <ul class="list-unstyled video-list-thumbs row">
      <li class="col-lg-3 col-sm-4 col-xs-6">
        <!--<iframe width="568px%" height="368px" [src]="video.url_youtube | safe"></iframe>-->
          <iframe width="568px" height="368px" [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url_youtube)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
          
          
      </li>
    </ul>
    
    </div>
    
    </div>





        
        
        


  
  </html>